<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Macabre's Burgers</title>
  	<script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
  <link rel="stylesheet" type="text/html" href="/assets/css/burger_style.css">
  <script type="javascript" src="/assets/js/burgers.js"></script>

</head>
<body>
  <h1>Macabre's Burgers</h1>
  <img src="/assets/img/baga.png" style="height: 300px; width: 300px" alt="マカブレ バーガー">
  {{{ body}}}
</body>
</html>