html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #F47E56;
  overflow: hidden;
  font-family: 'Permanent Marker';
}

h1 {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #D0473C;
  font-size: 8vw;
  text-shadow: 4px 5px #000;
}

div.row {
  position: relative;
  top: -150px;
}

img#logo {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  top: -250px;
  z-index: 1;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(255, 0, 0);
}

.form-group {
  margin-bottom: 5px;
}

.button-size {
  margin: 0px;
  padding: 0px;
}

.burgerAvailable {
  float: left;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  width: 98%;
  margin: 10px;
  padding: 10px;
  border: none;
  position: relative;
  z-index: 2;
}

.burgerAvailable:hover {
  background-color: rgba(255, 255, 255, 0.349);
}

div.thespacebetween {
  margin: 20px 0px 20px;
  text-align: center;
  font-size: 4vmax;
}

.burgerEaten {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.493);
  margin: 10px;
  padding: 10px;
}

.addBurgerButton {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border: none;
}