html, body{
  margin: 0px;
  padding: 0px;
  background-color: #F47E56;
  overflow: hidden;
  
}
h1 {
  font-family: 'Permanent Marker';
  text-align: center;
  position: relative;
  z-index: 2;
  color: #D0473C; 
  font-size: 75px;
  text-shadow: 4px 5px #000; 
}

div.row {
  background-color: rgba(0, 0, 0, 0.041);
  position: relative;
  top: -150px;
  
}


img#logo {
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  top: -250px;
  z-index: 1;
  
}
input.form-control {
  
  display: block;
 
  margin: 0 auto;
}


li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
